@model Geres4U.Models.PointOfInterestByReviser

@{
    ViewData["Title"] = "AddPointOfInterest";
    Layout = "_LayoutAdmin";
}


@if (ViewBag.result != null)
{
    <p style="position:absolute;color:red;font-weight:bold;font-size:12px;left:370px;top:550px;">@ViewBag.result</p>
}

<p style="position:absolute;left:600px;top:85px;font-size:18px;font-weight:bold">Adicionar ponto</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPointOfInterest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="position:absolute;left:390px;top:100px;font-weight:bold"></label>
                <input asp-for="Name" placeholder="Escreva aqui" class="form-control" style="position: absolute;width: 527px;height: 33px;left: 450px;top: 100px;background: #2E2E2E;border-radius: 17.5px;" />
                <span asp-validation-for="Name" class="text-danger" style="position:absolute;left:470px;top:140px"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label" style="position:absolute;left:380px;top:170px;font-weight:bold"></label>
                <input asp-for="ImagePath" placeholder="Escreva aqui" class="form-control" style="position: absolute;width: 527px;height: 33px;left: 450px;top: 170px;background: #2E2E2E;border-radius: 17.5px;"/>
                <span asp-validation-for="ImagePath" class="text-danger" style="position:absolute;left:470px;top:210px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label" style="position:absolute;left:370px;top:240px;font-weight:bold"></label>
                <input asp-for="Lat" placeholder="Escreva aqui" class="form-control" style="position: absolute;width: 527px;height: 33px;left: 450px;top: 240px;background: #2E2E2E;border-radius: 17.5px;" />
                <span asp-validation-for="Lat" class="text-danger" style="position:absolute;left:470px;top:280px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Long" class="control-label" style="position:absolute;left:370px;top:310px;font-weight:bold"></label>
                <input asp-for="Long" placeholder="Escreva aqui" class="form-control" style="position: absolute;width: 527px;height: 33px;left: 450px;top: 310px;background: #2E2E2E;border-radius: 17.5px;" />
                <span asp-validation-for="Long" class="text-danger" style="position:absolute;left:470px;top:350px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" style="position:absolute;left:370px;top:400px;font-weight:bold"></label>
                <input asp-for="Description" placeholder="Apresente uma breve descrição sobre o local" class="form-control" style="position: absolute;width: 527px;height: 140px;left: 450px;top: 380px;background: #2E2E2E;border-radius: 17.5px;"/>
                <span asp-validation-for="Description" class="text-danger" style="position:absolute;left:470px;top:420px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label" style="position:absolute;left:370px;top:550px;font-weight:bold" ></label>
                <input asp-for="Category" placeholder="Escreva aqui" class="form-control" style="position: absolute;width: 527px;height: 33px;left: 450px;top: 550px;background: #2E2E2E;border-radius: 17.5px"/>
                <span asp-validation-for="Category" class="text-danger" style="position:absolute;left:370px;top:550px;font-weight:bold"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" style="position:absolute;left:700px;top:640px;background-color:black;color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="position:absolute;left:500px;top:690px;color:black;font-weight:bold">Voltar</a>
</div>

