@model IEnumerable<Geres4U.Models.PointOfInterest>

@{
    ViewData["Title"] = "GetSugestions";
    Layout = "_LayoutAdmin";
}



@if (Model != null && Model.Count() != 0)
{
    <h1 style="position: absolute; left: 600px; top: 100px; font-weight: bold;font-size:25px">Sugestões</h1>


    <dl class="row" style="position: absolute; left: 600px;top:200px">
            
        @foreach (var item in Model)
        {
            var categoryString = item.translateCategory(); 
            <dd class="col-sm-10" style="font-weight: bold; color: green; font-size: 20px; padding: 30px; float: right">
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
            <dd class="col-sm-10" style="float:left">
                <img src="@Url.Content("~/Images/noImage.png")" alt="Erro rendering" width="256px" height="256px"/>
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(categoryString)
            </dd>
            <dd class="col-sm-5" style="color: black; font-weight: bold;padding-bottom:30px">
                @Html.ActionLink("Ler mais", "GetSpecificPointOfInterest", "Reviser", new {id = item.Id, ret = "GetSugestions"}, null)
            </dd>
                
        }
    </dl>


} else
{
    <h3 style="position: absolute; left: 600px; top: 100px; font-weight: bold;font-size:25px">Sem pontos disponíveis</h3>
}
