@model string;

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}


@if (ViewBag.result != null)
{
    <p style="position: absolute; left: 500px;top:115px">@ViewBag.result</p>
}

<div class="text-center">
   <img src="@Url.Content("~/Images/Map.png")" style="position:absolute;width:75%;height:500px;left:480px;top: 225px;"/>
</div>


