@model string;

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>

@if (Model != null) {
    <p>@Model</p>
}

@if (ViewBag.result != null)
{
    <p>@ViewBag.result</p>
}


