@model Geres4U.Models.PointOfInterestRemoval

@{
    ViewData["Title"] = "RemovePointOfInterest";
    Layout = "_LayoutAdmin";
}

<h1 style="position:absolute;left:600px;top:85px;font-size:18px;font-weight:bold">Remover ponto</h1>

@if (ViewBag.result != null)
{
    <p style="position:absolute;color:red;font-weight:bold;font-size:12px;left:600px;top:130px;">@ViewBag.result</p>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="RemovePointOfInterest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label" style="position:absolute;left:390px;top:100px;font-weight:bold"></label>
                <input asp-for="id" placeholder="Escreva aqui" class="form-control" style="position: absolute;width: 527px;height: 33px;left: 450px;top: 100px;background: #2E2E2E;border-radius: 17.5px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Remover" class="btn btn-primary" style="position:absolute;color:white;background-color:black;left:650px;top:155px"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="position:absolute;color:black;font-weight:bold;left:500px;top:650px">Voltar</a>
</div>

