@model string

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLoggedIn";
}

@if (ViewBag.Result != null)
{
   <p>@ViewBag.Result</p> 
}

<h1>Index</h1>

@if (Model != null)
{
    <p>Utilizador: @Model</p>
}

<div class="text-center">
   <p>Texto bonito i guess</p>
</div>

