@model string

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLoggedIn";
}

@if (ViewBag.Result != null)
{
   <p>@ViewBag.Result</p> 
}

<div class="text-center">
   <img src="@Url.Content("~/Images/Map.png")" style="position:absolute;width:75%;height:500px;left:385px;top: 125px;"/>
</div>

