<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Geres4U</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       
        <div style="padding: 18px;text-align: center;color: white;font-size: 30px;">
            <div class="container">
                <img src="@Url.Content("~/Images/Symbol.png")" style="position:fixed;left:20px;top:20px">
            </div>

             <p style="text-decoration:underline;font-size:20px;position:fixed;color:black;font-weight:bold;left:1600px;top: 20px">Gerês4U</p>
             <p style="font-size:15px;position:fixed;color:grey;left:1500px;top:45px">Descubra e explore o Gerês</p>
             <img src=@Url.Content("~/Images/Logo.png") alt="Fail rendering" style="position: fixed;width: 60px;height: 60px;left: 1734px;top: 12px;" >
        </div>

    </header>

    <p style="position:fixed;width:25%;height:92%;left:0;top:60px;background-color:black"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="Index" style="font-size:20px;color:white;position:fixed;left:50px;top:100px">Home</a>
    <p style="position: fixed;width: 296px;height: 0px;left: 18px;top: 140px;border: 3px solid #979797;"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="GetPointsOfInterest" style="font-size:20px;color:white;position:fixed;left:50px;top:180px">Locais a visitar</a>
    <p style="position: fixed;width: 296px;height: 0px;left: 18px;top: 220px;border: 3px solid #979797;"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="GetSugestions" style="font-size:20px;color:white;position:fixed;left:50px;top:260px">Sugestões dos utilizadores</a>
    <p style="position: fixed;width: 296px;height: 0px;left: 18px;top: 300px;border: 3px solid #979797;"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="AddPointOfInterest" style="font-size:20px;color:white;position:fixed;left:50px;top:340px">Adicionar ponto de interesse</a>
    <p style="position: fixed;width: 296px;height: 0px;left: 18px;top: 380px;border: 3px solid #979797;"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="RemovePointOfInterest" style="font-size:20px;color:white;position:fixed;left:50px;top:420px">Remover ponto de interesse</a>
    <p style="position: fixed;width: 296px;height: 0px;left: 18px;top: 460px;border: 3px solid #979797;"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="UpdatePointOfInterest" style="font-size:20px;color:white;position:fixed;left:50px;top:500px">Atualizar ponto de interesse</a>
    <p style="position: fixed;width: 296px;height: 0px;left: 18px;top: 540px;border: 3px solid #979797;"></p>
    <a asp-area="" asp-controller="Reviser" asp-action="LoggingOut" style="font-size:20px;color:#BF3535;position:fixed;left:50px;top:850px">Terminar Sessão</a>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
